# the build
Build
build
# DerivedData
Docs/API

# temp nibs and swap files
*~.nib
*.swp

# OS X folder attributes
.DS_Store

# user-specific XCode stuff
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserdatad

Examples/RKDiscussionBoardExample/discussion_board_backend/public/system/attachments/*

# UISpecRunner cached build path
.uispec.app
Specs/Runner/UISpec

Examples/RKMacOSX/RKMacOSX.xcodeproj/project.pbxproj

Examples/RKTableViewExample/RKTableViewExample.xcodeproj/project.pbxproj

RestKit.xcodeproj/project.pbxproj

Examples/RKTableViewExample/.idea/.name

Examples/RKTableViewExample/.idea/RKTableViewExample.iml

Examples/RKTableViewExample/.idea/dictionaries/tchristensen.xml

Examples/RKTableViewExample/.idea/encodings.xml

Examples/RKTableViewExample/.idea/modules.xml

Examples/RKTableViewExample/.idea/misc.xml

Examples/RKTableViewExample/.idea/vcs.xml

Examples/RKTableViewExample/.idea/xcode.xml

Examples/RKTableViewExample/.idea/workspace.xml

Examples/RKTableViewExample/.idea/scopes/scope_settings.xml

RestKit.xcodeproj/project.pbxproj
